.add-project-wrapper {
  height: 100%;
  overflow: hidden;
  .add-project-content {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .add-project-body {
      flex: 1;
      overflow: auto;
      padding: 5px;
      scrollbar-width: thin !important;
      scrollbar-color: #8c8c8c transparent !important;
    }
    .add-project-header {
      -webkit-app-region: drag;
      height: 40px;
      background: linear-gradient(135deg, #001529, #434343); /* 渐变色背景 */
      position: relative; /* 必须设置为相对定位以便伪元素定位 */
      overflow: hidden; /* 防止伪元素溢出 */
      &:hover {
        opacity: 0.9;
      }
      .add-project-header-content {
        padding-right: 140px;
        height: 100%;
        .header-left {
          margin-left: 10px;
          .title-text {
            color: #fff;
          }
        }
        .header-right {
          .ant-btn {
            -webkit-app-region: no-drag;
            cursor: pointer;
          }
        }
      }
    }
    .add-project-footer {
      // background-color: #001529;
      height: 40px;
      .add-project-footer-content {
        height: 100%;
        background: linear-gradient(135deg, #434343, #001529); /* 渐变色背景 */
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
