.pass-fail-modal-wrapper {
  //pass
  .pass-modal-container {
    .ant-modal-content {
      background: #f0f9eb;
      .ant-modal-body {
        .ant-modal-confirm-title {
          font-size: 48px;
          font-weight: 600;
          color: #67c23a;
          text-align: center;
        }
      }
    }
  }
  //file
  .fail-modal-container {
    .ant-modal-content {
      background: #fef0f0;
      .ant-modal-body {
        .ant-modal-confirm-title {
          font-size: 48px;
          font-weight: 600;
          color: #f56c6c;
          text-align: center;
        }
      }
    }
  }
  //error
  .error-modal-container {
    .ant-modal-content {
      background: #fef0f0;
      .ant-modal-body {
        .ant-modal-confirm-title {
          font-size: 48px;
          font-weight: 600;
          color: #f56c6c;
          text-align: center;
        }
      }
    }
  }
  //中止
  .abort-modal-container {
    .ant-modal-content {
      background: #f2f6fc;
      .ant-modal-body {
        .ant-modal-confirm-title {
          font-size: 48px;
          font-weight: 600;
          color: #606266;
          text-align: center;
        }
      }
    }
  }
}
