// left
.add-project-form-top {
  .add-form-wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    .ant-form {
      .ant-form-item {
        margin-bottom: 14px;
        padding: 4px;
        border-radius: 5px;
        background: #f7f9fa;
        .ant-form-item-row {
          .ant-form-item-label {
            padding-bottom: 3px;
            font-weight: 600;
          }
          .ant-form-item-control {
            padding-left: 10px;
          }
        }
      }
      .ant-form-item.select-band-form-item {
        .ant-row.ant-form-item-row {
          // 不允许换行
          flex-wrap: nowrap;
        }
      }
    }
  }
}
