//左侧 错误与警告区域
.footer-notice-content {
  margin-left: 5px;
  height: 100%;
  overflow: hidden;
  .footer-notice-item {
    max-width: 80%;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    .alert-container {
      // flex: 1;
      min-width: 160px;
    }
    .close-icon {
      color: #c0c4cc;
      font-size: 12;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
//右侧版权区域
