.add-project-wrapper {
  height: 100%;
  .add-project-content {
    height: 100%;
    padding: 5px;
    .ant-card.add-project-form-card {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      // header
      .ant-card-head {
      }
      //body
      .ant-card-body {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .add-project-content-top {
          flex: 1;
          overflow: auto;
        }
        .add-project-content-submit {
        }
      }
    }
  }
}
