.test-plan-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .test-plan-body {
    flex: 1;
    overflow: hidden;
    margin: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    background: #fff;
  }
  .test-plan-header {
    margin: 0 5px;
    background-color: #ebeef5;
    border-radius: 5px;
  }
  .test-plan-footer {
    margin: 0 5px 5px 5px;
  }
}
